<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Registion_Page</title>
    <link href="../Style/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="Box">
        <h1>Registration</h1>
        <form action="/login" method="post">
          <input type="email" placeholder="Email" required name="email" />

          <input type="password" placeholder="Password" name="password" />

          <button>Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
