 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="maindiv">
      <div class="letfdiv">
        <form action="/post" method="post">
          <div class="name">
            <h1>hello,<span><%=user.fullName%></span></h1>
          </div>
          
          <div class="textContainer">
            <textarea
              name="content"
              placeholder="write a Post Content"
            ></textarea>
          </div>
          <div class="buttonPosition">
            <button class="postButton">Post</button>
            <button class="logoutButton"><a href="/logout">LogOut</a></button>
          </div>
        </form>
      </div>
      <div class="rightdiv">
       <%if(user.length ===) %>
        <% user.posts.forEach(function(post){ %>
           
          <div class="styled-text">
            <div class="title"><%= user.fullName%></div>
            <div class="content">
              <%= post.content %>
               </div>
               <div class="like">
                <a href="">like</a>
                <a href="">comment</a>
                <a href="">edit</a>
              </div>
            </div>
       <% }) %>
         
         
        
            
          </div>   
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
