<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="mainContainer"> 
    <div class="main">
      <div class="leftContainer">
        <form action="/post" method="post">
          <div class="name">
            <p>hello,<span><%=user.fullName%></span></p>
            <textarea
              name="content"
              placeholder="write a Post Content"
            ></textarea>
            <div class="buttonPosition">
              <button class="postButton">Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
      <div class="post">
          <div class="postcantainer"></div>
        </div>
      </div>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="maindiv">
      <div class="letfdiv">
        <form action="/post" method="post">
          <div class="name">
            <h1>hello,<span><%=user.fullName%></span></h1>
          </div>
          <div class="textContainer">
            <textarea
              name="content"
              placeholder="write a Post Content"
            ></textarea>
          </div>
          <div class="buttonPosition">
            <button class="postButton">Post</button>
          </div>
        </form>
      </div>
      <div class="rightdiv">
        <div class="post">
          <div class="">
            <div class="postcantainer">
              <h2>Mustafa Memon</h2>
            </div>
            <div class="content">
              hudusnudsjsunm. hi man;;jkdbKBFJKBefk fjkbsfkj
              s;kjfn;ksjdfnjesfnkjdsvk;jbsdvjsdnkjd
              fkjfbdsjfkfsjk;dfkjsdjjhgdhjd hi man;;jkdbKBFJKBefk fjkbsfkj
            </div>
            <div class="like">
              <a href="">like</a>
              <a href="">comment</a>
              <a href="">edit</a>
            </div>
            <div class="content">
              hudusnudsjsunm. hi man;;jkdbKBFJKBefk fjkbsfkj
              s;kjfn;ksjdfnjesfnkjdsvk;jbsdvjsdnkjd
              fkjfbdsjfkfsjk;dfkjsdjjhgdhjd hi man;;jkdbKBFJKBefk fjkbsfkj
            </div>
            <div class="like">
              <a href="">like</a>
              <a href="">comment</a>
              <a href="">edit</a>
            </div>
            <div class="content">
              hudusnudsjsunm. hi man;;jkdbKBFJKBefk fjkbsfkj
              s;kjfn;ksjdfnjesfnkjdsvk;jbsdvjsdnkjd
              fkjfbdsjfkfsjk;dfkjsdjjhgdhjd hi man;;jkdbKBFJKBefk fjkbsfkj
            </div>
            <div class="like">
              <a href="">like</a>
              <a href="">comment</a>
              <a href="">edit</a>
            </div>
            <div class="content">
              hudusnudsjsunm. hi man;;jkdbKBFJKBefk fjkbsfkj
              s;kjfn;ksjdfnjesfnkjdsvk;jbsdvjsdnkjd
              fkjfbdsjfkfsjk;dfkjsdjjhgdhjd hi man;;jkdbKBFJKBefk fjkbsfkj
            </div>
            <div class="like">
              <a href="">like</a>
              <a href="">comment</a>
              <a href="">edit</a>
            </div>
            <div class="content">
              hudusnudsjsunm. hi man;;jkdbKBFJKBefk fjkbsfkj
              s;kjfn;ksjdfnjesfnkjdsvk;jbsdvjsdnkjd
              fkjfbdsjfkfsjk;dfkjsdjjhgdhjd hi man;;jkdbKBFJKBefk fjkbsfkj
            </div>
            <div class="like">
              <a href="">like</a>
              <a href="">comment</a>
              <a href="">edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
